*{
	margin: 0;
	padding: 0;
}
body,p,span,h1,h2,h3,h4,h5,h6,label,a{
    font-family: "Microsoft Yehei", "Lantinghei SC", "Hiragino Sans GB", Helvatica, Arial, sans-serif;
}
/*menu*/
.menu{
    width: 100%;
    border: 0px;
    margin:0;
    display: block;
    position:fixed;
    z-index: 1000;
}
.ui-content{
    width: 100%;
    margin: 0;
    padding: 0;
}
/*navbar*/
.navbar{
    width: 100%;
    border: 0px;
    font-size: 18px;
    margin:0;
    display: block;
    position:fixed;
    bottom: 0;
}
li .list-divider.ui-li-divider{
    border-bottom: 1px solid #fe5314;
}
.ui-content .ui-listview-inset, .ui-panel-inner>.ui-listview-inset{
    margin-top: 0;
    margin-bottom: 0;
}
.page_title{
    padding: 10px;
    text-align: center;
    background-color: #fe5314;
    color: #fff;
    text-shadow:none;
    height: 20px;
}
.page_title a,.page_title a:hover,.page_title a:visited{
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}
/*custom icon*/
.buy_car .ui-icon-shop:after,.agent .ui-icon-user:after{
     background-color: #fe5314;
}
.ui-icon-carat-d:after,.ui-icon-carat-r:after,.ui-icon-minus:after{
    background-color: #999;
}
/*banner*/
.banner{
    width: 100%;
    height: 174px;
    margin-top: 5px;
	overflow: hidden;
}
.banner .ad_img{
	width: 100%;
	height: 100%;
	margin: auto;
}

.banner .ad_img li{
	width: 100%;
	height: 100%;
	border: none;
	display: inline;
}

.banner .ad_img img{
	width: 100%;
	height: 100%;
}
/*价格简表*/
.price li,.thead li,.order li,.config li{
    text-align: center;
}
.price p{
    margin-top: 0;
}
.order .active{
    border-bottom: 2px solid #444;
    text-decoration:2px;
}
.car_content,.car_sel{
    width: 100%;
    margin: 5px auto;
}
.car_info{
    width: 100%;
    margin: 0;
}
.car_info .ui-grid-a{
    padding: 15px;
}
.car_content h4{
    text-align: center;
}
.car_content h4 a{
    text-decoration: none;    
}
/*品牌选车*/
li.cur{
    color: #fe5314;
    background-color: #e9e9e9;
    text-shadow:none;
    border-top: none;
    border-left:none;
    border-right: none; 
    border-bottom: 3px solid #fe5314;
}
.order .ui-btn{
    border: 1px solid #fe5314;
    border-radius: 5px;
    background-color:  ;
    color: #e9e9e9;
}
.book{
    text-shadow:none;
}
.order .ui-btn{
    float: right;
    position: relative;
    margin-right: 10%;
}
.car_detail{
    width: 98%;
    height: auto;
    margin: 0 auto;
}
.car_detail li{
    list-style: none;
}
/*loan*/
.loan_apply .user_info,.car_order .user_info,.agent_apply .user_info{
    float: left;
    position: relative;
    border: none;
    background: #fff;
}
/*agent apply*/
.agent_apply .order_submit{
    width: 100%;
    height: auto;
    background-color: #fe5314;
    color: #fff;
    text-shadow:none;
}
.agent_apply li{
    border: none;
}
.agent_apply .protocal{
    text-align: center;
}
.agent_apply .fa.fa-angle-left{
    float: left;
    position: relative;
    margin-left: 5px;
}
.agent_apply .ui-controlgroup-label{
    width: 30%;
}
.agent_apply .ui-controlgroup-controls{
    float: left;
    position: relative;
}
/*order*/
.explain{
    text-align: center;
    padding: 10px;
}
.car_order .get_detail{
    font-size: 12px;
}
.ui-input-text{
    width: 70%;
    float: right;
    margin: 0;
}
.ui-select{
    width: 50%;
    box-shadow: none;
    background-color: #fff;
    box-shadow:none;
    float: right;
    position: relative;
}














